<h1>Details of The User</h1>
<br />
<h3>Name : <%= @user.name %></h3>
<h3>Email : <%= @user.email %></h3>
<h3>Phone Number : <%= @user.phone %></h3>
<%= link_to 'Back',users_path,class:'btn btn-dark' %>